
//----------------------------------------------------------------------------
//  The simplest possible config file format!
//  - Separate key and value by at least 3 spaces;
//  - Anything beginning with // is comment;
//  - Empty lines don't matter;
//  - No indents, no spaces/tabs before keys;
//  - Values can't be multiline (but can be 64k long)
//----------------------------------------------------------------------------

program             main.php
output exe          bf2json.exe
//loading message   Initializing ...
engine              php
engine exe          php.exe

